<div class="header-container">
    <header class="wrapper clearfix">
          <h1 class="title"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>


      <nav class="site-nav">

        <div class="trigger">
          <ul role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
            {% for page in site.pages %}
              {% if page.title %}
                  {% if page.url contains 'tag' %}
                    
                  {% else %}
                  <li><a itemprop="url" class="page-link" href="{{ page.url | prepend: site.baseurl }}">
                  <span itemprop="name">{{ page.title }}</span></a></li>
                  {% endif %}
              {% endif %}
            {% endfor %}
            <li><a itemprop="url" class="page-link" href="http://www.grahamrgriffiths.com">
                  <span itemprop="name">main site</span></a></li>
          </ul>
        </div>
      </nav>
  </header>
</div>


