---
layout: default
---
<div class="post">
  
  <article class="post-content" itemscope itemtype="http://schema.org/Article">
    
  <header class="post-header">
    <h1 class="post-title"><span itemprop="headline">{{ page.title }}</span></h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
     <meta itemprop="dateCreated" content="{{ page.date | date: "%Y%m%-d" }}">
  </header>

  <div itemprop="articleBody"> 
    {{ content }}
  </div>

 {% include tag_list.html %}
<p id="post-meta">{{ tags_content }}</p>

  {{ % if page.comments % }}
  <footer>
    {% include disqus.html %}
  </footer>
  {{ endif }}
  </article>

</div>
